.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 342px;
  width: 210px;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  z-index: 1;
}

.card-gradient {
  position: absolute;
  background-color: #e3d5c9;
  border-radius: 20px;
  z-index: -1;
  height: 171px;
  top: 0;
  width: 210px;
}

@media screen and (max-width: 600px) {
  .card {
    height: 300px;
    width: 150px;
    border-radius: 12.5;
  }
  .card-gradient {
    height: 150px;
    width: 150px;
  }
}

.card-image {
  margin: 20px;
}

.inline {
  display: flex;
  margin-top: 10px;
}
