.card {
  display: flex;
  flex-direction: column;
  height: 342px;
  width: 30%;
  border-radius: 20px;
  margin: 20px 0 20px 0;
  background-color: #e3d5c9;
}

.card-color-outer-box {
  background-color: white;
  height: 50%;
  width: 100%;
  border-radius: 20px 20px 0 20px;
}

.card-color-box {
  background-color: #e3d5c9;
  border-radius: 20px 20px 60px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-details-box {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 60px 0 20px 20px;
}

.card-image {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-icons-box {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 920px) {
  .card {
    width: 45%;
  }
}
