.card {
  display: flex;
  flex-direction: column;
  height: 342px;
  width: 210px;
  border-radius: 20px;
  margin: 10px;
  background-color: #e3d5c9;
}

.card-color-outer-box {
  background-color: white;
  height: 50%;
  width: 100%;
  border-radius: 20px 20px 0 20px;
}

.card-color-box {
  background-color: #e3d5c9;
  border-radius: 20px 20px 60px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-details-box {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 60px 0 20px 20px;
}

@media screen and (max-width: 600px) {
  .card {
    height: 330px;
    width: 170px;
  }
}

.card-image {
  margin-top: -100px;
  margin-bottom: 20px;
}

.card-icons-box {
  display: flex;
  margin-top: 20px;
}
