.list {
  height: 100px;
  width: 100%;
  border-radius: 20px;
  background-color: #e3d5c9;
  margin: 10px;
  display: flex;
}

.list-color-section {
  min-width: 80px;
  background-color: transparent;
}

.list-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 40px 20px 20px 0;
  flex-grow: 1;
}

.list-image {
  margin-left: -37.5px;
}

.grow-info {
  padding: 0 20px;
  flex-grow: 1;
}

.list-inline {
  display: flex;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .list {
    width: 92%;
    border-radius: 12.5;
  }
  .list-color-section {
    min-width: 50px;
  }
  .list-gradient {
    width: 80%;
  }
  .list-inline {
    margin-right: 10px;
  }
  .grow-info {
    padding: 0 10px;
  }
}
