.main-box {
  width: 75%;
  margin: auto;
  padding: 70px 20px;
}

.inner-box {
  width: 75%;
  margin: auto;
  padding: 20px;
}

.search-and-filter-box {
  display: flex;
  align-items: center;
  margin: 10px;
}

.sort-box {
  order: 1;
}

.search-box {
  flex-grow: 1;
  margin-left: 10px;
  order: 2;
}

.list-toggle-box {
  order: 3;
}

.cards {
  /* padding: 40px; */
  /* background-color: brown; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: space-around; */
}

@media screen and (max-width: 600px) {
  .main-box {
    width: 100%;
    padding: 50px 10px;
  }

  .inner-box {
    width: 100%;
    padding: 10px;
  }

  .sort-box {
    order: 2;
    flex-grow: 1;
  }

  .search-box {
    margin-left: 0;
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  .list-toggle-box {
    order: 3;
  }

  .search-and-filter-box {
    flex-wrap: wrap;
  }
}
