.heading {
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.sub-title {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
